/* Reset do CSS */

* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/692/715/non_2x/gradient-geometric-background-vector.jpg');
    background-size: cover;
    color: black;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    }

/* Se a tela tiver pelo menos 400px vai carregar esses estilos */
@media(min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media(min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;

  }
}

  .menu {
    background-color: #2eb8b8;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
      display: block;
      padding: 10px 20px;
      transition: background-color, color, 1s;
  }

  .menu a:hover {
    background-color: #208000;
    color: white;
  }

  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
    color: blue;
  }
  
  .site-title {
    font-size: 2em;
    color: #208000;
    text-align: center;
    font-family: 'Quattrocento', serif;
  }
  
  .site-subtitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
  }
  
  .sobre,
  .contato,
  .portfolio {
    padding: 2em;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  @media(min-width: 1200px) {
    .sobre,
    .contato,
    .portfolio {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .portfolio .grid {
    display: grid;
    gap: 1em;
  }

  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 400px 400px;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 260px);
      justify-content: space-around;
    }
  }

  .portfolio figure{
    text-align: center;
  }

  .sobre h2,
  .contato h2,
  .portfolio h2 {
    font-family: 'Roboto', sans-serif;
    color: #208000;
    margin-bottom: 1.5em;
    font-size: 3em;
  }

  .sobre p {
    text-indent: 2em;
    margin-bottom: 1.5em;
    text-align: justify;
  }

  .img-portfolio {
      height: 180px;
      width: 280px;
      object-fit: cover;
      border-radius: 50px;
      transition: transform 500ms;
  }

  /*.img-portfolio:hover{
    transform: scale(1.1);
  }*/

  .flip-card:hover .card {
      transform: rotateY(180deg);
  }

  .card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 3s;
  }

  .card-front, .card-back {
    position: absolute;
    top: 0;
    left:0;
    backface-visibility: hidden;
    border-radius: 50px;
  }

  .card-back{
    background-color: #0c59e9;
    height: 180px;
    width: 280px;
    transform: rotateY(180deg);
    text-align: center;
  }

  .contato a{
    font-size: 4em;
    padding:2px;
    transition: text-shadow, 1s;
  }

  .contato .icons {
    text-align: center;
  }

  .contato a:active,
  .contato a:hover{
    text-decoration: none;
    text-shadow: 0px 5px 10px black;
  }

  .sobre .avatar {
    float: right;
    margin-left: 2em;
  }

  .sobre .avatar img{
    width: 400px;
    height: 400px;
    clip-path: circle(50% at 50% 50%);
  }
